.registro-container{
    width: 100%;
    height: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 80px;
}

.input-registro{
    background: #00A8E2;
}

.form-registro{
    width: 100%;
    max-width: 450px;
}

.form-registro h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-registro form input{
    height: 100%;
    width: 90%;
    background: #00A8E2;
    color: #e9e9e9;
}

.form-registro form input::placeholder{
    color: #e9e9e9;
}

p{
    font-size: 18px;
    font-weight: bold;
    color: #41414d;
}