.container{
    width: 100%;
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.form form{
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
    
}

.form form h1{
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

.form form input{
     padding: 15px ;
     width: 100%;
     border-radius: 8px;
     display: block;
     margin-bottom: 30px;
}

.imagem-lateral{
   
   border: 1px solid black;
}

.imagem-lateral img{
    width: 100%;
    height: 100%;
}

.button{
    padding: 15px ;
     width: 100%;
     border-radius: 8px;
     display: block;
     margin-bottom: 30px;
}